@font-face{
  font-family: astralite_font;
  src: url("../public/Rubik_Mono_One/RubikMonoOne-Regular.ttf");
}

::selection{
  background-color: transparent;
}

*{
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: astralite_font;
}

body{
  background-color:  #f5f5f5;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  text-align: center;
}

/* button {
  width: 100%;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-top: 1em;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: rgba(100, 100, 100, 1);
}

button.affordable {
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s;
}

button.affordable:active,
button.affordable.isTouched {
  background-color: #45a049;
}

button.affordable {
  border: 2px solid #35b850;
  box-shadow: 0 0 5px rgba(53, 184, 80, 0.7);
}

.astralite_counter{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  margin: 10px;
  padding: 10px;
  position: fixed;
}

.astralite_counter .astralite_count{
  transition: color 0.3s;
}

.minage_astralite img{
  max-width: 30vw;
  width: 100%;
  height: auto;
}

.market{
  margin-top: 10%;
} */

.top_menu{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  background-color: #212F3D;
  align-items: center;
  padding-right: 100px;
}

.top_menu .real_shop{
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 10px;
  border-left: 3px dotted rgb(32, 180, 235);
  border-bottom: 3px dotted rgb(32, 180, 235);
  background-color: rgba(32, 180, 235, 0.7);
}

.bottom_menu{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 2px solid #fff;
  align-items: center;
  background-color: #212F3D;
}

.bottom_menu .nav_item{
  padding: 10px;
}

.bottom_menu .center{
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.top_menu .counter img{
  max-width: 25px;
}

.top_menu .counter{
  background-color: #17202A;
  color: #fff;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.bottom_menu .nav_item button{
  border: none;
  background-color: transparent;
  padding: 0;
}

.bottom_menu .nav_item a img, .top_menu .nav_item a img, .bottom_menu .nav_item button img{
  max-width: 75px;
}

.current_bagpack{
  position: absolute;
  background-color: #212F3D;
  border-radius: 10px;
  padding: 10px;
  margin: 25% 5px 5px 5px;
  font-size: 0.6em;
  color: #fff;
}

.current_bagpack img{
  max-width: 50px;
}

.sell{
  position: absolute;
  border-radius: 10px;
  margin: 50% 10px 10px 5px;
}

.sell button{
  background-color: #35b850;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
}

/* .background{
  position: absolute;
  justify-content: center;
  text-align: center;
  height: 100vh;
  transform: translate(-50%);
  z-index: -1000;
} */


/* Shop */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  z-index: -1;
}

.market {
  color: #333;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin: 50% 0 0 0;
  width: 100%;
  height: 100%;
}

h2 img{
  max-width: 25px;
  margin: 0 10px 0 0;
}

.close_button{
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #333;
  float: right;
  margin: -10px -10px 10px 10px;
  padding: 10px;
}

.close_button:hover{
  background-color: lightgray;
}

button.item {
  width: 100%;
  justify-content: space-between;
  margin-top: 1em;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #212F3D;
  color: #fff;
  display: flex;
}

.left_content{
  align-items: center;
  width: 100px;
}

.left_content img{
  max-width: 50px;
}

.top_content{
  top: 0;
}

.bottom_content{
  bottom: 0;
  display: flex;
}

.bottom_content .left{
  text-align: left;
  margin: 0 20px 0 0;
}

.bottom_content .right{
  text-align: right;
}

.top_content p, .bottom_content p{
  font-size: 0.7em;
}

.equip{
  background-color: green;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
}

.price{
  background-color: red;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
}

.rock_button{
  background-color: transparent;
  border: none;
  outline: none;
  width: 0;
}